#custom-lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 5;
    justify-content: center;
    align-items: center;
}

#custom-lightbox.open {
    display: flex;
    flex-direction: column;
}

.lightbox-content {
    position: relative;
    // max-width: 90%;
    max-height: 90%;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Masquer la barre de scroll dans IE et Edge */
    scrollbar-width: none;  /* Masquer la barre de scroll dans Firefox */
}

.lightbox-content::-webkit-scrollbar {
    display: none; /* Masquer la barre de scroll dans Chrome, Safari et Opera */
}

.lightbox-img {
    max-width: 100%;
    height: auto; /* Assure que l'image conserve son ratio en largeur */
    display: block;
    cursor: grab; /* Indique que l'image peut être glissée */
}

.lightbox-img:active {
    cursor: grabbing; /* Indique que l'image est en cours de glissement */
}

.lightbox-close {
    position: fixed;
    top: 50px;
    right: 6vw;
    background: none;
    border: none;
    color: white;
    font-size: 3rem;
    cursor: pointer;
}

.lightbox-prev, .lightbox-next {
    position: fixed;
    top: 50%;
    border: none;
    color: white;
    font-size: 3rem;
    cursor: pointer;
    // transform: translateY(-50%);
}

.lightbox-prev {
    left: 6vw;
    width:120px;
    height:100px;
    background: url('#{$base-url}/arrow-left.png') center center no-repeat;
    filter: invert(1) brightness(2);
    &:hover{
        background: url('#{$base-url}/arrow-left-hover.png') center center no-repeat;
    }
}

.lightbox-next {
    right: 6vw;
    width:120px;
    height:100px;
    background: url('#{$base-url}/arrow-right.png') center center no-repeat;
    filter: invert(1) brightness(2);
    &:hover{
        background: url('#{$base-url}/arrow-right-hover.png') center center no-repeat;
    }
}
.lightbox-info {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 1rem;
    width:inherit;
    height:30px;
}
.lightbox-reference {
    padding: 15px 0 0 20vw;
}

.lightbox-category {
    padding: 15px 20vw 0 0;
}
/* Désactiver le scroll de l'arrière-plan */
.no-scroll {
    overflow: hidden;
}