// Variables des polices
$font-monospace: 'Space Mono', monospace;

// Variables des couleurs
    $color-primary: #E00000;
    $color-secondary: #FE5858;
    $color-tertiary: #FFD6D6;
    $color-black: #000000;
    $color-dark-gray: #313144;
    $color-gray: #C4C4C4;
    $color-light-gray: #D8D8D8;
    $color-lighter-gray: #E5E5E5;