// imports MIXINS ------------------------------------
@import 'mixins';
// imports VARIABLES ---------------------------------
@import 'variables';
// imports LIGHTBOX ---------------------------------
@import 'lightbox';
// imports FILTERS SECTION ---------------------------------
@import 'filters-section';
// imports SMALLER SCREENS ---------------------------------

body{
    font-family: $font-monospace;
}

// ---------- TYPOGRAPHIES DESKTOP -------------
h1 {
    font-family: $font-monospace;
    font-size: 96px;
    font-style: italic;
    font-weight: 700;
    color: black;
}
h2 {
    font-family: $font-monospace;
    font-size: 66px;
    font-style: italic;
    font-weight: 400;
    color: black;
}
h3 {
    font-family: $font-monospace;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.1em;
    color: black;
}
p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    color: black;
}
#category-filter option{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    color: black;
}
.contact-modal-content p, .select-selected{
    @include modale-select-font;
}

.photo-meta p{
    @include description-photo-font;
}

.header__nav a , .site-info a , .site-info p{
    @include header-footer-font;
}
// ------------------------------------------------------------------------
// -------------------------- STYLES GLOBAUX ------------------------------
// ------------------------------------------------------------------------

*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    padding: 0em;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0em;
    max-width: 1148px;
    width:80%;
}

.header {
    &__container {
        max-width: 1440px;
        padding:0 10%;
        width:100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 4px 14px 10px rgba($color-black, 0.03); // Ajout du box-shadow
    }
    &__nav {
        width: 100%;
        ul{
            padding-inline-start:0;
        }
        
    }
}

.logo img{
        width: 216px;
        height: auto;
        display: block;
    }

.navigation {
    display: flex;
    justify-content: right;
    list-style-type: none;
    column-gap:40px;
}
article{
    padding:0;
    max-width:1148px;
    width:100%;
}
// ------------------------------------------------------------------------
// ------------------------ EFFET VISUEL SUR LES LIENS --------------------
// ------------------------------------------------------------------------

@keyframes underline-animation {
    0% {
        width: 0;
        left: 0;
    }
    90% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text-color-animation {
    0% {
        color: $color-black;
    }
    50% {
        color: mix($color-dark-gray, $color-primary, 50%);
    }
    100% {
        color: $color-primary;
    }
}

.link-style {
    position: relative;
    font-size: 16px;
    text-decoration: none;
    color: $color-black;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -3px;
        height: 3px;
        background-color: $color-primary;
        transition: width 0.5s ease;
    }
    &:hover {
        animation: text-color-animation 0.7s forwards;
        font-weight: 600;
        &::after {
            animation: underline-animation 0.5s forwards;
        }
    }
}

.header__container .header__nav a,
.site-info a {
    @extend .link-style;
}

// ------------------------------------------------------------------------
// ------------------------------ STYLES DU HERO --------------------------
// ------------------------------------------------------------------------

.hero-image {
    position: relative;
    overflow: hidden;
    display: flex;
    max-height: 960px;
    justify-content: center;
    align-items: center;
    
    @keyframes fadeIn {
        to {
            opacity: 1;
        }
    }
    
    @keyframes slideInFromLeft {
        0% {
            opacity: 0;//masqué
            transform: translateX(-200%);
        }
        100% {
            opacity: 1;//visible
            transform: translateX(0);
        }
    }
    
    @keyframes slideInFromTop {
        0% {
            opacity: 0;
            transform: translateY(-200%);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0;
        animation: fadeIn 3s forwards;
    }

    h1.hero-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: clamp(24px, 6vw, 96px);
        font-weight: 700;
        font-style: italic;
        text-align: center;
        color: transparent;
        -webkit-text-stroke: 2px white;
        white-space: nowrap;
        opacity: 0;
        margin: 0;
        padding: 0;
    }


    .photograph {
        display: inline-block;
        transform: translateX(-100%); /* Initialement en dehors de l'écran à gauche */
        opacity: 0;
        animation: slideInFromLeft 2s forwards 2s; /* Animation de déplacement */
    }

    .event {
        display: inline-block;
        transform: translateY(-200%); /* Initialement en dehors de l'écran en haut */
        opacity: 0;
        animation: slideInFromTop 0.3s forwards 3.5s; /* Animation de déplacement */
    }
}



// ------------------------------------------------------------------------
// -------------------------- STYLES DE LA MODALE -------------------------
// ------------------------------------------------------------------------

.contact-modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    backdrop-filter: blur(3px);
    &.open {
    display:flex;
    justify-content: center;
    align-items: center;
    }
    &-content {
        background-color: $color-white;
        width: 70%;
        height:80%;
        max-width: 597px;
        max-height: 769px;
        padding: 0px;
        border: 5px solid black;
        border-radius: 2px;
        box-shadow: 0 4px 24px rgba($color-black, 0.1);
        overflow:hidden;
    }
}

.modal-header {
    display:flex;
    margin: 20px 0px 30px -150px;
    width:150%;
    img {
        justify-content: center;
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.modal-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin:0 auto;
}

.contact-input,
.contact-textarea {
    max-width: 263px;
    height:40px;
    border: 1px solid $color-border-default;
    border-radius: 8px;
    box-sizing: border-box;
    margin-top:1px;
}

.contact-textarea {
    height: 210px;
    resize: none;
}

.contact-submit-container {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0;
    max-width: 263px;
    width: 100%;
    height:50px;
}

#wpcf7-f44-o1,.wpcf7-form.sent,.wpcf7-form.invalid{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: 600;
    color: #000;
}

.wpcf7-submit.has-spinner {
    position:relative;
    width:263px;
    height:50px;
    font-size: 12px;
    background-color: $color-light-gray;
    color: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
}

.wpcf7-spinner {
    position: absolute;
    top: 75%;
    right: 0px;
    transform: translateY(-50%);
    display: inline-block;
    vertical-align: middle;
}

.wpcf7-response-output{
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    top:-180px;
    background-color: $color-tertiary;
    border-color: none;
    height:150px;
}

// ------------------------------------------------------------------------
// -------------- STYLES SUR DISPOSITION DES PHOTOS ACCUEIL ---------------
// ------------------------------------------------------------------------

.photo-archive{
    display: flex;
    width:100%;
}

.photo-grid {
    display: grid;
    max-width: 1148px;
    width:100%;
    grid-template-columns: repeat(2, 1fr); // Deux colonnes
    gap: 20px;
    padding:0;
    article a {
        margin:0px;
        padding:0px;
    }
    p {
        padding:0 0 0 -40vw;
        font-size: 20px;
    }
}

// ------- leger effet zoom sur les images au survol ---------------------
.related-photo-item img {
    transition: transform 2.0s ease-in-out;
}

.related-photo-item:hover img {
    transform: scale(1.02);
}

// ---------- Bouton "CHARGER PLUS" ------------------
.load-more-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    margin: 40px 0;
}

#load-more{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:272px;
    width:100%;
    height:50px;
    border-radius: 2px;
    border:none;
    background-color: $color-light-gray;
    margin:0;
    box-shadow: 0px 2px 1px 0px rgba($color-black, 0.02);
    &:hover{
        color:white;
        background-color: $color-black;
        font-size:12px;
        font-weight: 700;
        cursor:pointer;
    }
}

// ------------------------------------------------------------------------
// ------------------------- STYLES PHOTO-BLOCK ---------------------------
// ------------------------------------------------------------------------

.related-photos {
    margin-top: 80px;
}

.photo-list {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    gap: 20px;
}

.related-photo-item {
    position:relative;
    display: flex ;
    justify-content: center;
    align-items: center;
    max-width: 564px;
    max-height: 495px;
    overflow: hidden;
    a{
        aspect-ratio: 1/0.88;
    }
}

.photo-link {
    display: block;
    width: 100%;
    height: 100%;
}

.photo-link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// ------------------------------------------------------------------------
// ----------------------- ACCUEIL : PHOTO OVERLAY ------------------------
// ------------------------------------------------------------------------

.photo-overlay {
    position: absolute;
    display: flex;
    justify-content: end;
    align-items: start;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    gap: 60px;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.photo-link:hover .photo-overlay {
    opacity: 1;
}

.fas.fa-eye,.icon-fullscreen{
    opacity: 0.4;
    &:hover{
        opacity:0.8;
    }
}

.icon-eye,
.icon-fullscreen {
    position:absolute;
    color: white;
    font-size: 34px;
    cursor: pointer;
}

.icon-eye {
    top:5%;
    right:20%;
}

.icon-fullscreen {
    top:5%;
    right:5%;
}
.photo-info-ovl{
    width:100%;
    height:100%;

}

.photo-title-ovl {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.photo-category-ovl {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
    font-size: 14px;
    font-style: italic;
}

// ------------------------------------------------------------------------
// --------------------------- STYLES DU FOOTER ---------------------------
// ------------------------------------------------------------------------

.footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    height: 50px;
    padding: 0;
    border-top: 1px solid black;
}

.site-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width:560px;
    width:100%;
    margin:0 10px;
    a{
        margin:0;
        padding:0;
    }
    p{
        margin:0;
        padding:0;
    }
    
}

// ------------------------------------------------------------------------
// -------------------------- STYLES SINGLE PHOTO -------------------------
// ------------------------------------------------------------------------

.photo-single {
    display: flex;
    gap:20px;
    align-items: end;
    width: 100%;
    height:auto;
}

.photo-info {
    display: flex;
    flex-direction: column;
    max-width:564px!important;
    width:50%;
    justify-content:end;
    p{
        padding-bottom:10px;
    }
}

.photo-title {
    text-align: left;
    line-height: 0.9;
    margin-bottom:10px;
    font-size: clamp(20px, 5vw, 66px);
}

.thumbnail-photo {
    height:100%;
    max-width:564px;
    width:50%;
        img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
}

.photo-meta {
    border-bottom: 1px solid #000;
    padding: 0 10px 10px 0;
    margin:0 0px 5px 0;
}

.photo-navigation{
    display:flex;
    justify-content:space-between;
    height:118px;
    margin:0;
    padding:0px;
    border-bottom: 1px solid #000;
}

.single-cta{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:49%;
    max-width:564px;
    margin:0 ;
    padding: 0;
}

// bouton Contact ---------------------------
button.open-contact-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    width:49%;
    max-width:272px;
    height:50px;
    border-radius: 2px;
    border:none;
    background-color: $color-light-gray;
    &:hover{
        background-color: $color-border-default;
        font-weight: 600;
        cursor:pointer;
    }
}

// Affichage miniature --------------------------
.long-arrow {
    display: inline-block;
    font-size: 25px;
    line-height: 1;
}

.card-nav{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.card-img {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    img {
        width: 81px;
        height: 71px;
        object-fit: cover;
    }
}

.arrow-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:80px;
    margin: 3px 0;
}

.prev-photo img,
.next-photo img {
    width: 30px;
    height: auto;
}

.next-photo img {
    margin-right: 0;
}

@import 'smaller-screens';