// imports MIXINS ------------------------------------
@import 'mixins';
// imports VARIABLES ---------------------------------
@import 'variables';
@import 'typography';
@import 'lightbox';

*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1440px;
    width: 100%;
    background-color: rgb(248, 248, 248);
    margin: 0 auto;
    padding: 0em;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0em;
}

.header {
    &__container {
        margin: 0 146px;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em 0;
    }
    &__nav {
        width: 100%;
    }
}

.logo img{
     
        width: 216px;
        height: auto;
        display: block; // Pour éviter les espaces blancs sous l'image
    }

.navigation {
    display: flex;
    justify-content: right;
    list-style-type: none;
}
article{
    padding:0;
    max-width:1148px;
    width:100%;

}
.header__container .header__nav a,
.footer__container .site-info a {
    position: relative;
    font-size: 16px;
    text-decoration: none;
    margin-left: 50px;
    color: $color-black;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -3px;
        height: 3px;
        background-color: $color-primary;
        transition: width 0.5s ease;
    }
    &:hover {
        animation: text-color-animation 0.7s forwards; // Appliquer l'animation de la couleur du texte au survol
        font-weight: 600;
        &::after {
            animation: underline-animation 0.5s forwards; // Appliquer l'animation au survol     
        }
    }
}
@keyframes underline-animation {
    0% {
        width: 0;
        left: 0;
    }
    90% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text-color-animation {
    0% {
        color: $color-black;
    }
    50% {
        color: mix($color-dark-gray, $color-primary, 50%);
    }
    100% {
        color: $color-primary;
    }
}
// ------------------------------------------------------------------------
// ------------------------------ STYLES DU HERO --------------------------
// ------------------------------------------------------------------------
.hero-image {
    position: relative;
    overflow: hidden;
    display: flex;
    max-height: 960px;
    justify-content: center;
    align-items: center;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover; // Assurer que l'image couvre entièrement le conteneur
    }

    .hero-title {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: clamp(24px, 8vw, 96px);
        font-weight: 700;
        font-style: italic;
        text-align: center;
        color: transparent; // Rendre l'intérieur des lettres transparent
        -webkit-text-stroke: 2px white; // Bordure blanche de 3 px pour chaque lettre (pour WebKit)
        white-space: nowrap;
    }
}
// -----------------------------------------------------------------------
// -------------------------- STYLES FILTER SECTION ----------------------
// -----------------------------------------------------------------------

.filters-section {
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 80px 0 20px 0;
}
.filters{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 1148px;
    margin: 0;
    padding: 0;
}
#category-filter, #format-filter, #sort-filter{
    width:260px;
    height:42px;
    padding: 11px 18px 11px 18px;
    border-radius: 8px;
}
#format-filter{
    margin: 0 30% 0 3%;
}

// ------------------------------------------------------------------------
// -------------------------- STYLES DE LA MODALE -------------------------
// ------------------------------------------------------------------------

.contact-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    backdrop-filter: blur(3px);
    &.open {
    display:flex;
    justify-content: center;
    align-items: center;
    }
    &-content {
        background-color: #fff;
        width: 100%;
        height:80%;
        max-width: 597px;
        max-height: 769px;
        padding: 0px;
        border: 5px solid black;
        border-radius: 2px;
        box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
        overflow:hidden;
    }
}

.modal-header {
    display:flex;
    margin: 20px 0px 30px -150px;
    width:150%;
    img {
        justify-content: center;
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.modal-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin:0 auto;
}

// .contact-label label {
//     padding-bottom: 100px;
//     margin: 0 0 10px 0px;
//     font-weight: bold;
// }

.contact-input,
.contact-textarea {
    max-width: 263px;
    height:40px;
    border: 1px solid #B8BBC2;
    border-radius: 8px;
    box-sizing: border-box;
    margin-top:1px;
}

.contact-textarea {
    height: 210px;
    resize: none;
}

.contact-submit-container {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0;
    max-width: 263px;
    width: 100%;
    height:50px;
}
#wpcf7-f44-o1,.wpcf7-form.sent,.wpcf7-form.invalid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: 600;
    color: #000;
}

.wpcf7-submit.has-spinner {
    position:relative;
    width:263px;
    height:50px;
    font-size: 12px;
    background-color: #D8D8D8;
    color: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
}

.wpcf7-spinner {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    display: inline-block;
    vertical-align: middle;
}

// ------------------------------------------------------------------------
// -------------- STYLES SUR DISPOSITION DES PHOTOS ACCUEIL ---------------
// ------------------------------------------------------------------------

.photo-archive {
    display: flex;
    flex-wrap: wrap;
    margin:0;
    padding:0; 
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); // Deux colonnes
    gap: 20px; // Espace entre les éléments
    margin-top :20px;
    padding:0;
    article a {
        margin:0px;
        padding:0px;
    }
    
}

.photo-item {
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    transition: box-shadow 2.0s ease;
    &:hover {
        box-shadow: 2px 2px 25px $color-secondary;
    }
    &:hover .photo-thumbnail img {
        animation: zoom-dezoom 2s forwards;
        overflow: hidden;
    }
}

.photo-thumbnail {
    width: 564px;
    height: 495px;
    border-color: $color-primary;
    border-width: 2px;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 1s ease;
        border-width: 2px;
        align-items: center;
    }
}

.photo-excerpt {
    margin-top: 0px;
}
// Animation de zoom-dézoom
@keyframes zoom-dezoom {
    0% {
        transform: scale(1);
    }
    85% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

// Bouton "CHARGER PLUS"

#load-more{
    display: flex;
    justify-content: center;
    align-items: center;
    width:272px;
    height:50px;
    border-radius: 2px;
    border:none;
    background-color: #D8D8D8;
    margin:40px 0;
    &:hover{
        background-color: #B8BBC2;
        font-weight: 600;
        cursor:pointer;
    }
}
// ------------------------------------------------------------------------
// --------------------------- STYLES DU FOOTER ---------------------------
// ------------------------------------------------------------------------

.site-info {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    p {
        margin-left:50px;
    }
}

// ------------------------------------------------------------------------
// -------------------------- STYLES SINGLE PHOTO -------------------------
// ------------------------------------------------------------------------

.photo-single {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    height:auto;
}

.photo-info {
    display: flex;
    flex-direction: column;
    width:564px;
    justify-content:end;
    p{
        padding-bottom:10px;
    }
}

.photo-title {
    text-align: left;
    line-height: 0.9;
    margin-bottom:10px;
}

.thumbnail-photo{
    height:100%;
    width:564px;
        img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
}

.photo-meta {
    border-bottom: 1px solid #000; // Ajoute un trait plein de 1 pixel en bas
    padding: 0 10px 10px 0; // Ajoute un espace en bas pour éviter que le contenu ne touche le trait
    margin:0 0px 5px 0;
}
.photo-navigation{
    display:flex;
    justify-content:space-between;
    height:118px;
    margin:0;
    padding:0px;
    
    border-bottom: 1px solid #000; // Ajoute un trait plein de 1 pixel en bas
}
.single-cta{
    margin:0 ;
    padding: 0 10px 0 0 ;
    width:564px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
button.open-contact-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    width:272px;
    height:50px;
    border-radius: 2px;
    border:none;
    background-color: #D8D8D8;
    &:hover{
        background-color: #B8BBC2;
        font-weight: 600;
        cursor:pointer;
    }
}
.long-arrow {
    display: inline-block;
    font-size: 25px;
    line-height: 1;
}
.card-nav{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.card-img {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    img {
        width: 81px;
        height: 71px;
        object-fit: cover;
    }
}
.arrow-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:80px;
    margin: 3px 0;
}

.prev-photo img,
.next-photo img {
    width: 30px; // Ajuster la taille de l'image
    height: auto;
}

.next-photo img {

    margin-right: 0; // Supprimer l'espace à droite pour la flèche droite
}
// ------------------------------------------------------------------------
// ------------------------- VOUS AIMEREZ AUSSI----------------------------

.related-photos {
    margin-top: 80px;
}

.photo-list {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    gap: 20px;
}

.related-photo-item {
    position: relative;
    width: 564px; // Ajustez la taille selon vos besoins
    height: 495px; // Ajustez la taille selon vos besoins
    overflow: hidden;
}

.photo-link {
    display: block;
    width: 100%;
    height: 100%;
}

.photo-link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.photo-link:hover .photo-overlay {
    opacity: 1;
}

.icon-eye,
.icon-fullscreen {
    color: white;
    font-size: 24px;
    cursor: pointer;
}
@media (max-width: 1160px) {
    .related-photo-item {
        width: 40vw; /* 100% de la largeur de l'écran */
        height: 35vh; /* 70% de la hauteur de l'écran */
    }
}
@media (max-width: 950px) {
    .related-photo-item {
        width: 40vw; /* 100% de la largeur de l'écran */
        height: 30vh; /* 70% de la hauteur de l'écran */
    }
}
@media (max-width: 800px) {
    .related-photo-item {
        width: 40vw; /* 100% de la largeur de l'écran */
        height: 25vh; /* 70% de la hauteur de l'écran */
    }
}