body {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
  color: black;
}

.container {
  max-width: 1440px;
  width: 100%;
  background-color: rgb(248, 248, 248);
  margin: 0 auto;
  padding: 0 1em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.header__container {
  margin: 0 120px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}
.header__nav {
  width: 100%;
}

.logo {
  width: 216px;
}
.logo img {
  max-width: 100%;
  height: auto;
  display: block;
}

.navigation {
  display: flex;
  justify-content: right;
  list-style-type: none;
}

a:not(.logo a) {
  position: relative;
  font-size: 16px;
  text-decoration: none;
  margin-left: 50px;
  color: #000000;
}
a:not(.logo a)::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 3px;
  background-color: #E00000;
  transition: width 0.5s ease;
}
a:not(.logo a):hover::after {
  animation: underline-animation 0.5s forwards;
}
a:not(.logo a):hover {
  animation: text-color-animation 0.7s forwards;
  font-weight: 600;
}

@keyframes underline-animation {
  0% {
    width: 0;
    left: 0;
  }
  90% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes text-color-animation {
  0% {
    color: #000000;
  }
  50% {
    color: #891922;
  }
  100% {
    color: #E00000;
  }
}
.site-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.site-info p {
  margin-left: 50px;
}

.contact-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(224, 0, 0, 0.2);
}

.contact-modal-content {
  display: flex;
  justify-content: center;
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 20%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-label {
  display: block;
  padding-bottom: 50px;
  margin-bottom: 10px;
  font-weight: bold;
}

.contact-input,
.contact-textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

.contact-textarea {
  height: 150px;
  resize: none;
}

.contact-submit-container {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0;
  width: 100%;
}

.wpcf7-submit.has-spinner {
  padding: 15px 30px;
  font-size: 18px;
  background-color: #E00000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.wpcf7-submit.has-spinner:hover {
  background-color: #FE5858;
}

.wpcf7-spinner {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: inline-block;
  vertical-align: middle;
}